* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}
body {
font-family: $fontFamily;
background-color: $backgroundBody;
color: $fontColor;
font-size: $fontDimension;
}
.page-main {
  background-color: $backMain;


}
@mixin write-container {
  width: $containerDimension;
  margin: 0 auto;
  // height: 700px;
}
.container {
  @include write-container;
  border-bottom: 1px solid grey;
  text-align: center;
  color: $fontColor;
    h2 {
      padding-top: 60px;
      padding-bottom: 30px;
      font-weight: bold;
      font-size: $fontSizeP;
      width: 40%;
      margin: auto;
  }
}
.wrapper {
  @include write-container;
  display:flex;
  flex-direction: row;
  padding-top: 30px;
  .box {
    min-width: 33%;
    p {
      font-size: 16px;
      font-weight: bold;
    }
    .photo {
     height: 150px;
    }
  }
}
.center-img {
  text-align: center;
  padding-top: 40px;
  .img-under {
    width: 20%;
  }
}
