* {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}
body {
  font-family: $fontFamily;
  background-color: $backgroundBody;
  color: $fontColor;
  font-size: $fontDimension;
}
.page-main {
  background-color: $backMain;
}
.second-page {
  background-color: $backMainSecond;
}
@mixin write-container {
  width: $containerDimension;
  margin: 0 auto;
}
.container {
  @include write-container;
  border-bottom: 1px solid grey;
  // text-align: center;
  color: $fontColor;
    h2 {
      padding-top: 60px;
      padding-bottom: 30px;
      font-weight: bold;
      font-size: $fontSizeP;
      width: 40%;
      margin: auto;
  }
}
.wrapper {
  @include write-container;
  display:flex;
  flex-direction: row;
  text-align: center;
  padding-top: 30px;
  .box {
    min-width: 33%;
    p {
      font-size: 16px;
      font-weight: bold;
    }
    .photo {
     height: 150px;
    }
  }
}
@media screen and (max-width:$breakSmall){
  .wrapper {
    display: block;
  }
}
.center-img {
  text-align: center;
  padding-top: 40px;
  .img-under {
    width: 20%;
  }
}
.works {
  font-weight: bold;
}

@mixin float-second {
  float: left;
  width: 50%;
  height: 100%;
  text-align:left;
}
.right-side-new {
  @include float-second
}
.learn {
  margin-top: 10px;
  .learn-more {
    color:blue;
  }
}
.text-align {
  text-align: left;
  padding-top: 40px;
  .animal-photo {
    height: 250px;
  }
}
.img-insight {
  padding-top: 20px;
  text-align: center;
  .insight {
    width: 40%;
  }
}
