$fontFamily: 'Source Sans Pro', sans-serif;
$backgroundBody: white;
$fontColor : #58402c;
$fontDimension: 15px;
$buttonColor: lightblue;
$containerDimension: 85%;
$fontSizeH1: $fontDimension * 2.7;
$fontSizeP: $fontDimension * 1.4;
$blueButton: blue;
